<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.younge.changetheelectricity">

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!---->
    <uses-permission android:name="android.permission.CAMERA" />
    <!---->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/cte_logo"
        android:roundIcon="@mipmap/cte_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页 -->
        <activity android:name=".main.MainActivity" />
        <!-- 电池详情 -->
        <activity android:name=".changetheelectricity.activity.BatteryDetailActivity" />
        <!-- 操作状态 -->
        <activity android:name=".changetheelectricity.activity.OperateStatuActivity" />
        <activity android:name=".changetheelectricity.activity.ChargeDetailActivity" />
        <activity android:name=".changetheelectricity.activity.ConfirmOrderActivity" />
        <!-- 绑定电池 -->
        <activity android:name=".mine.activity.BindBatteryActivity" />
        <activity android:name=".mine.activity.BatterySNActivity" />

        <!-- 实名认证 -->
        <activity android:name=".mine.activity.RealNameAuthentication01Activity" />
        <!-- 实名认证 -->
        <activity android:name=".mine.activity.MyCarActivity" />
        <activity android:name=".mine.activity.MyBatteryActivity" />
        <activity android:name=".mine.activity.MyWalletActivity" />
        <activity android:name=".mine.activity.BindCarActivity" />
        <activity android:name=".mine.activity.PersonalInfoActivity" />
        <activity android:name=".mine.activity.MyPackageActivity" />
        <activity android:name=".mine.activity.UseHistoryActivity" />
        <activity android:name=".mine.activity.MyDepositActivity" />
        <activity android:name=".mine.activity.DepositHistoryActivity" />
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".login.activity.WebViewActivity" />
        <activity android:name=".mine.activity.PackageListActivity" />
        <activity android:name=".mine.activity.RechargeCenterActivity" />
        <activity android:name=".mine.activity.SettingActivity" />
        <activity android:name=".changetheelectricity.activity.CharegeStatuActivity" />
        <activity android:name=".mine.activity.ShareSettingActivity" />

        <meta-data android:name="com.amap.api.v2.apikey" android:value="d35bef7a58b82cffc7b4e04a16533c3d">
        </meta-data>

        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>